In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import KNNImputer
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [2]:
#model scoring using mean absolute error

def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=10, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

In [3]:
x, *y , z = 1,2,3,4,5
print("x = {}, y = {}, z = {}".format(x,y,z))
print(type(y))

x = 1, y = [2, 3, 4], z = 5
<class 'list'>

In [4]:
def f(a, b, c, d): print(a, b, c, d, sep = '&')
f(1,2,3,4)
f(*[1, 2, 3, 4])

1&2&3&4
1&2&3&4

In [5]:
*u ,= [1,2,3]
u

[1, 2, 3]

In [6]:
df = pd.DataFrame(data=[[1, 2, 3], [4, 5, 6], [7, 8, 9],[10,11,'red']], columns=['a', 'b', 'c'])
df

    a   b    c
0   1   2    3
1   4   5    6
2   7   8    9
3  10  11  red

In [7]:
df.drop(['b'], axis=1, inplace = True) # inplace -- operating on the original dataframe, changing original dataframe
df

    a    c
0   1    3
1   4    6
2   7    9
3  10  red

In [8]:
Y = df.drop([1],axis=0)
Y

    a    c
0   1    3
2   7    9
3  10  red

In [9]:
df.dtypes

a     int64
c    object
dtype: object

In [10]:
s = df.dtypes == 'object'
s

a    False
c     True
dtype: bool

In [11]:
object_cols = list(s[s].index)
object_cols

['c']

In [12]:
from sklearn.preprocessing import OneHotEncoder
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)

In [13]:
type(set(df['a']))

set

In [14]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [15]:
set_1 = {1,2,3}
set_2 = {3,1,2}
set_1 == set_2

True

In [16]:
set_3= {1,2,3,4,5}
list(set_3 - set_2)

[4, 5]

In [17]:
func = lambda a : a[i]

In [18]:
set_4 = ['a', 'b', 'c']
d = dict(zip(set_1,set_4))
d

{1: 'a', 2: 'b', 3: 'c'}

In [19]:
for i in d:
    print(func(d))

a
b
c

In [20]:
[i for i in d if i > 1]

[2, 3]

In [21]:
(lambda x: x * x) (5)

25

In [22]:
L = [1, 2, 3, 4]
list(map(lambda x: x**2, L))

[1, 4, 9, 16]

In [23]:
list(filter(lambda x: x % 2 == 0, [1, 3, 2, 5, 20, 21]))

[2, 20]

In [24]:
1e4*100 - 1e4

990000.0

In [25]:
df

    a    c
0   1    3
1   4    6
2   7    9
3  10  red

In [26]:
df[df['c'].str.contains('red')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [27]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [28]:
questions=[
['Q: What is the range of incubation periods for the disease in humans?'],
['Q: How long are individuals are contagious?'],
['Q: How long are individuals are contagious, even after recovery.'],
['Q: Does the range of incubation period vary across age groups?'],
['Q: Does the range of incubation period vary with children?'],
['Q: Does the range of incubation period vary based on underlying health?'],
['Q: What do we know about the basic reproduction number?'],
['Q: What is the prevalance of asymptomatic transmission?'],
['Q: What do we know about asymptomatic transmission in children?'],
['Q: What do we know about seasonality of transmission?'],
['Q: Informing decontamination based on physical science of the coronavirus?'],
['Q: What do we know about stability of the virus in environmental conditions?'],
['Q: What do we know about persistence of the virus on various substrates? (e.g., nasal discharge, sputum, urine, fecal matter, blood)'],
['Q: What do we know about persistence of the virus on various surfaces? (e,g., copper, stainless steel, plastic) '],
['Q: What do we know about viral shedding duration?'],
['Q: What do we know about viral shedding in fecal/stool?'],
['Q: What do we know about viral shedding from nasopharynx?'],
['Q: What do we know about viral shedding in blood?'],
['Q: What do we know about viral shedding in urine?'],
['Q: What do we know about implemtation of diagnostics?'],
['Q: What do we know about disease models?'],
['Q: What do we know about models for disease infection?'],
['Q: What do we know about models for disease transmission?'],
['Q: Are there studies about phenotypic change?'],
['Q: What is know about adaptations (mutations) of the virus?'],
['Q: What do we know about the human immune response and immunity?'],
['Q: Is population movement control effective in stopping transmission (spread)?'],
['Q: Effectiveness of personal protective equipment (PPE)?'],
['Q: What is the role of environment in transmission?']
]
search=[['incubation','period','range'],
['viral','shedding','duration'],
['asymptomatic','shedding'],
['incubation','period','age','statistically','significant'],
['incubation','period','child'],
['incubation','groups','risk'],
['basic','reproduction', 'number','%'],
['asymptomatic','infection','%'],
['asymptomatic','children'],
['seasonal','transmission'],
['contaminat','object'],
['environmental', 'conditions'],
['sputum','stool','blood','urine'],
['persistence','surfaces'],
['duration','viral','shedding'],
['shedding','stool'],
['shedding','nasopharynx'],
['shedding','blood'],
['shedding','urine'],
['diagnostics','point'],
['model', 'disease'],        
['model', 'infection'],
['model', 'transmission'],
['phenotypic'],
['mutation'],
['immune','response'],
['restriction', 'movement'],
['protective','clothing'],
['transmission','routes']
]

In [29]:
pd.DataFrame(data = {'questions' : questions, 'search' : search})

,questions,search
0,[Q: What is the range of incubation periods fo...,"[incubation, period, range]"
1,[Q: How long are individuals are contagious?],"[viral, shedding, duration]"
2,"[Q: How long are individuals are contagious, e...","[asymptomatic, shedding]"
3,[Q: Does the range of incubation period vary a...,"[incubation, period, age, statistically, signi..."
4,[Q: Does the range of incubation period vary w...,"[incubation, period, child]"
5,[Q: Does the range of incubation period vary b...,"[incubation, groups, risk]"
6,[Q: What do we know about the basic reproducti...,"[basic, reproduction, number, %]"
7,[Q: What is the prevalance of asymptomatic tra...,"[asymptomatic, infection, %]"
8,[Q: What do we know about asymptomatic transmi...,"[asymptomatic, children]"
9,[Q: What do we know about seasonality of trans...,"[seasonal, transmission]"
10,[Q: Informing decontamination based on physica...,"[contaminat, object]"
11,[Q: What do we know about stability of the vir...,"[environmental, conditions]"
12,[Q: What do we know about persistence of the v...,"[sputum, stool, blood, urine]"
13,[Q: What do we know about persistence of the v...,"[persistence, surfaces]"
14,[Q: What do we know about viral shedding durat...,"[duration, viral, shedding]"
15,[Q: What do we know about viral shedding in fe...,"[shedding, stool]"
16,[Q: What do we know about viral shedding from ...,"[shedding, nasopharynx]"
17,[Q: What do we know about viral shedding in bl...,"[shedding, blood]"
18,[Q: What do we know about viral shedding in ur...,"[shedding, urine]"
19,[Q: What do we know about implemtation of diag...,"[diagnostics, point]"
20,[Q: What do we know about disease models?],"[model, disease]"
21,[Q: What do we know about models for disease i...,"[model, infection]"
22,[Q: What do we know about models for disease t...,"[model, transmission]"
23,[Q: Are there studies about phenotypic change?],[phenotypic]
24,[Q: What is know about adaptations (mutations)...,[mutation]
25,[Q: What do we know about the human immune res...,"[immune, response]"
26,[Q: Is population movement control effective i...,"[restriction, movement]"
27,[Q: Effectiveness of personal protective equip...,"[protective, clothing]"
28,[Q: What is the role of environment in transmi...,"[transmission, routes]"

In [30]:
from sklearn.impute import SimpleImputer

imp_default =  SimpleImputer()

testImp = pd.DataFrame(data = [[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])

pd.DataFrame(imp_default.fit_transform(testImp), columns= ['a', 'b', 'c'])

      a    b    c
0   7.0  2.0  3.0
1   4.0  3.5  6.0
2  10.0  5.0  9.0

In [31]:
testImp

    0    1  2
0   7  2.0  3
1   4  NaN  6
2  10  5.0  9

In [32]:
NewImp = [[np.nan, 2, 3], [4, np.nan, 6], [10, np.nan, 9]]

pd.DataFrame(imp_default.transform(NewImp), columns= ['A', 'B', 'C'])

      A    B    C
0   7.0  2.0  3.0
1   4.0  3.5  6.0
2  10.0  3.5  9.0

In [33]:
dummy_df = pd.DataFrame(data = {"value" : [x for x in range(100)], "score" : [100 - x for x in range(100)]})
dummy_df

    value  score
0       0    100
1       1     99
2       2     98
3       3     97
4       4     96
..    ...    ...
95     95      5
96     96      4
97     97      3
98     98      2
99     99      1

[100 rows x 2 columns]

In [34]:
v = 10
dummy_df[:-2*v]

    value  score
0       0    100
1       1     99
2       2     98
3       3     97
4       4     96
..    ...    ...
75     75     25
76     76     24
77     77     23
78     78     22
79     79     21

[80 rows x 2 columns]

In [35]:
dummy_df[-2*v:-v]

    value  score
80     80     20
81     81     19
82     82     18
83     83     17
84     84     16
85     85     15
86     86     14
87     87     13
88     88     12
89     89     11

In [36]:
dummy_df[-v:]

    value  score
90     90     10
91     91      9
92     92      8
93     93      7
94     94      6
95     95      5
96     96      4
97     97      3
98     98      2
99     99      1

In [37]:
from sklearn.model_selection import train_test_split
X = dummy_df['value']
y = dummy_df['score']
X_train_dummy, X_test_dummy, y_train_dummy, y_test_dummy = train_test_split(X , y, test_size = 0.2)

In [38]:
X_train_dummy

70    70
32    32
55    55
67    67
38    38
      ..
79    79
21    21
2      2
84    84
82    82
Name: value, Length: 80, dtype: int64

In [46]:
dummy_df = dummy_df.assign(temp = lambda i: i['value'] - i['score'])

In [47]:
dummy_df.query('value + score + temp <= 100')

    value  score  temp
0       0    100  -100
1       1     99   -98
2       2     98   -96
3       3     97   -94
4       4     96   -92
5       5     95   -90
6       6     94   -88
7       7     93   -86
8       8     92   -84
9       9     91   -82
10     10     90   -80
11     11     89   -78
12     12     88   -76
13     13     87   -74
14     14     86   -72
15     15     85   -70
16     16     84   -68
17     17     83   -66
18     18     82   -64
19     19     81   -62
20     20     80   -60
21     21     79   -58
22     22     78   -56
23     23     77   -54
24     24     76   -52
25     25     75   -50
26     26     74   -48
27     27     73   -46
28     28     72   -44
29     29     71   -42
30     30     70   -40
31     31     69   -38
32     32     68   -36
33     33     67   -34
34     34     66   -32
35     35     65   -30
36     36     64   -28
37     37     63   -26
38     38     62   -24
39     39     61   -22
40     40     60   -20
41     41     59   -18
42     42     58   -16
43     43     57   -14
44     44     56   -12
45     45     55   -10
46     46     54    -8
47     47     53    -6
48     48     52    -4
49     49     51    -2
50     50     50     0

In [49]:
dummy_df[(dummy_df['value'] + dummy_df['score'] + dummy_df['temp']) <= 100]

    value  score  temp
0       0    100  -100
1       1     99   -98
2       2     98   -96
3       3     97   -94
4       4     96   -92
5       5     95   -90
6       6     94   -88
7       7     93   -86
8       8     92   -84
9       9     91   -82
10     10     90   -80
11     11     89   -78
12     12     88   -76
13     13     87   -74
14     14     86   -72
15     15     85   -70
16     16     84   -68
17     17     83   -66
18     18     82   -64
19     19     81   -62
20     20     80   -60
21     21     79   -58
22     22     78   -56
23     23     77   -54
24     24     76   -52
25     25     75   -50
26     26     74   -48
27     27     73   -46
28     28     72   -44
29     29     71   -42
30     30     70   -40
31     31     69   -38
32     32     68   -36
33     33     67   -34
34     34     66   -32
35     35     65   -30
36     36     64   -28
37     37     63   -26
38     38     62   -24
39     39     61   -22
40     40     60   -20
41     41     59   -18
42     42     58   -16
43     43     57   -14
44     44     56   -12
45     45     55   -10
46     46     54    -8
47     47     53    -6
48     48     52    -4
49     49     51    -2
50     50     50     0