In [1]:
import pandas as pd
import datetime as dt


# read file into data frame
data = {}
with pd.ExcelFile(r'C:\Users\Peiran Quan\Desktop\python_data_preparation\raw.xlsx') as xlsx: #Change the file path here
    data['KL1'] = pd.read_excel(xlsx,'Kit line 1',index_col = None,na_values='NA')
    data['KL2'] = pd.read_excel(xlsx,'Kit line 2',index_col = None,na_values='NA')#, skiprows=1)
    data['KL3'] = pd.read_excel(xlsx,'Kit line 3',index_col = None,na_values='NA')
    data['KL4'] = pd.read_excel(xlsx,'Kit line 4',index_col = None,na_values='NA')
    data['KL5'] = pd.read_excel(xlsx,'Kit line 5',index_col = None,na_values='NA')
    data['KL6'] = pd.read_excel(xlsx,'Kit line 6',index_col = None,na_values='NA')
    data['KL7'] = pd.read_excel(xlsx,'Kit line 7',index_col = None,na_values='NA')
    data['KL8'] = pd.read_excel(xlsx,'Kit line 8',index_col = None,na_values='NA')
    data['KL9'] = pd.read_excel(xlsx,'Kit line 9',index_col = None,na_values='NA')
    data['KL10'] = pd.read_excel(xlsx,'Kit line 10',index_col = None,na_values='NA')
    data['KL11'] = pd.read_excel(xlsx,'Kit line 11',index_col = None,na_values='NA')
    data['KL12'] = pd.read_excel(xlsx,'Kit line 12',index_col = None,na_values='NA')
    data['KL13'] = pd.read_excel(xlsx,'Kit line 13',index_col = None,na_values='NA')
    data['KL14'] = pd.read_excel(xlsx,'Kit line 14',index_col = None,na_values='NA')
    data['KL15'] = pd.read_excel(xlsx,'Kit line 15',index_col = None,na_values='NA')
    data['KL16'] = pd.read_excel(xlsx,'Kit line 16',index_col = None,na_values='NA')
    data['KL17'] = pd.read_excel(xlsx,'Kit line 17',index_col = None,na_values='NA')
    data['KL18'] = pd.read_excel(xlsx,'Kit line 18',index_col = None,na_values='NA')
    data['KL19'] = pd.read_excel(xlsx,'Kit line 19',index_col = None,na_values='NA')
    data['KL20'] = pd.read_excel(xlsx,'Kit line 20',index_col = None,na_values='NA')

# Join all kitting lines' data to one
df = pd.DataFrame(data=None)   # df is the frame containing all raw data
for KL in data:
    sLength = len(data[KL])
    KL_array = [KL for i in range(sLength)]
    data[KL]['kittingline'] = KL_array               #Meanwhile add a new column with the kitting line's name
    df = pd.concat([df,data[KL]], sort = False)

df.head()

,Barcode,Production Batch,Recipe and P,Timestamp,Date,Seq code,Week,Team Leader,Replenisher,Pickers,Notes,Missing Products,kittingline
0,Production Start,NaN,NaN,08:31:10,2021-03-11,NaN,NaN,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,NaN,NaN,KL1
1,New Recipe Start,NaN,NaN,08:31:20,2021-03-11,NaN,NaN,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,NaN,NaN,KL1
2,911O2$$$$$$$$0001000501,9.0,O2,08:32:15,2021-03-11,0001 of 0005,11.0,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,NaN,NaN,KL1
3,911O2$$$$$$$$0002000501,9.0,O2,08:36:40,2021-03-11,0002 of 0005,11.0,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,NaN,NaN,KL1
4,Break Start,NaN,NaN,08:39:15,2021-03-11,NaN,NaN,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,move to other line,NaN,KL1

In [2]:
# rename all the column index
df.columns = ['Barcode', 'Production Batch', 'Recipe and P', 'Timestamp', 'Date', 'Seq Code', 'Week', 'Team Leader', 'Replenisher', 'Pickers', 'Break Reasons', 'Missing Products', 'Kitting Line']

In [3]:
df.head(10)

,Barcode,Production Batch,Recipe and P,Timestamp,Date,Seq Code,Week,Team Leader,Replenisher,Pickers,Break Reasons,Missing Products,Kitting Line
0,Production Start,NaN,NaN,08:31:10,2021-03-11,NaN,NaN,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,NaN,NaN,KL1
1,New Recipe Start,NaN,NaN,08:31:20,2021-03-11,NaN,NaN,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,NaN,NaN,KL1
2,911O2$$$$$$$$0001000501,9.0,O2,08:32:15,2021-03-11,0001 of 0005,11.0,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,NaN,NaN,KL1
3,911O2$$$$$$$$0002000501,9.0,O2,08:36:40,2021-03-11,0002 of 0005,11.0,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,NaN,NaN,KL1
4,Break Start,NaN,NaN,08:39:15,2021-03-11,NaN,NaN,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,move to other line,NaN,KL1
5,Break End,NaN,NaN,12:32:29,2021-03-11,NaN,NaN,iXUsr_Joanne(6854),NaN,iXUsr_Li(11495)iXUsr_Strzeletz(6101)iXUsr_Rao(...,NaN,NaN,KL1
6,New Recipe Start,NaN,NaN,12:32:49,2021-03-11,NaN,NaN,iXUsr_Joanne(6854),NaN,iXUsr_Li(11495)iXUsr_Strzeletz(6101)iXUsr_Rao(...,NaN,NaN,KL1
7,911P2$$$$$$$$0001000401,9.0,P2,12:37:06,2021-03-11,0001 of 0004,11.0,iXUsr_Joanne(6854),NaN,iXUsr_Li(11495)iXUsr_Strzeletz(6101)iXUsr_Rao(...,NaN,NaN,KL1
8,911P2$$$$$$$$0002000401,9.0,P2,12:41:49,2021-03-11,0002 of 0004,11.0,iXUsr_Joanne(6854),NaN,iXUsr_Li(11495)iXUsr_Strzeletz(6101)iXUsr_Rao(...,NaN,NaN,KL1
9,911P2$$$$$$$$0003000401,9.0,P2,12:46:35,2021-03-11,0003 of 0004,11.0,iXUsr_Joanne(6854),NaN,iXUsr_Li(11495)iXUsr_Strzeletz(6101)iXUsr_Rao(...,NaN,NaN,KL1

In [4]:
# type(df['Timestamp'].iloc[1]) == dt.time
type(df['Date'].iloc[0]) not in [pd._libs.tslibs.timestamps.Timestamp, 1]

False

In [5]:
# Check timestamps & date whether have the right format
def check_data_type(dataframe, col):
    for i in range(len(dataframe)):
        if type(dataframe[col].iloc[i]) not in [dt.time, pd._libs.tslibs.timestamps.Timestamp]:
            print("check the {}th data".format(i))
            print(dataframe.iloc[i])
            return
    print("Pass Check -- {}".format(col))

In [6]:
check_data_type(df, 'Timestamp')

Pass Check -- Timestamp

In [7]:
check_data_type(df, 'Date')

Pass Check -- Date

In [8]:
def combine_date_time(df, datecol, timecol):
    return df.apply(lambda row: row[datecol].replace(
                                hour=row[timecol].hour,
                                minute=row[timecol].minute,
                                second=row[timecol].second),
                    axis=1)

In [9]:
new_c = combine_date_time(df, 'Date', 'Timestamp')
new_c

0     2021-03-11 08:31:10
1     2021-03-11 08:31:20
2     2021-03-11 08:32:15
3     2021-03-11 08:36:40
4     2021-03-11 08:39:15
              ...
492   2021-03-14 07:07:49
493   2021-03-14 07:10:54
494   2021-03-14 07:14:31
495   2021-03-14 07:14:42
496   2021-03-14 07:16:21
Length: 9548, dtype: datetime64[ns]

In [10]:
df['Timestamp and Date'] = new_c
df = df.drop_duplicates(subset = None, keep='last') # kept 'last record' for a reason

In [11]:
for KL in data:
    df_new = df.loc[df['Kitting Line'] == KL] # df_new is the sliced raw data of "Kitting Line(KL) Name"
    # 1.(after dropping duplicates) for every kitting line it has to contain batch code [1:7]
    i = pd.Categorical(df_new['Production Batch'])
    for j in range (1,9):
        if j not in i.categories:
            print("Warning: %r , production batch %s is not included" %(KL,j))
        else:
            print("%r production batch %s included" %(KL,j))

'KL1' production batch 1 included
'KL1' production batch 2 included
'KL1' production batch 3 included
'KL1' production batch 4 included
Warning: 'KL1' , production batch 5 is not included
Warning: 'KL1' , production batch 6 is not included
Warning: 'KL1' , production batch 7 is not included
Warning: 'KL1' , production batch 8 is not included
'KL2' production batch 1 included
'KL2' production batch 2 included
'KL2' production batch 3 included
'KL2' production batch 4 included
'KL2' production batch 5 included
Warning: 'KL2' , production batch 6 is not included
Warning: 'KL2' , production batch 7 is not included
'KL2' production batch 8 included
'KL3' production batch 1 included
'KL3' production batch 2 included
'KL3' production batch 3 included
'KL3' production batch 4 included
'KL3' production batch 5 included
Warning: 'KL3' , production batch 6 is not included
Warning: 'KL3' , production batch 7 is not included
'KL3' production batch 8 included
'KL4' production batch 1 included
'KL4' production batch 2 included
'KL4' production batch 3 included
'KL4' production batch 4 included
Warning: 'KL4' , production batch 5 is not included
Warning: 'KL4' , production batch 6 is not included
Warning: 'KL4' , production batch 7 is not included
'KL4' production batch 8 included
'KL5' production batch 1 included
'KL5' production batch 2 included
'KL5' production batch 3 included
'KL5' production batch 4 included
'KL5' production batch 5 included
Warning: 'KL5' , production batch 6 is not included
Warning: 'KL5' , production batch 7 is not included
'KL5' production batch 8 included
'KL6' production batch 1 included
'KL6' production batch 2 included
'KL6' production batch 3 included
'KL6' production batch 4 included
Warning: 'KL6' , production batch 5 is not included
Warning: 'KL6' , production batch 6 is not included
Warning: 'KL6' , production batch 7 is not included
'KL6' production batch 8 included
'KL7' production batch 1 included
'KL7' production batch 2 included
'KL7' production batch 3 included
'KL7' production batch 4 included
Warning: 'KL7' , production batch 5 is not included
Warning: 'KL7' , production batch 6 is not included
Warning: 'KL7' , production batch 7 is not included
'KL7' production batch 8 included
Warning: 'KL8' , production batch 1 is not included
'KL8' production batch 2 included
'KL8' production batch 3 included
Warning: 'KL8' , production batch 4 is not included
'KL8' production batch 5 included
Warning: 'KL8' , production batch 6 is not included
Warning: 'KL8' , production batch 7 is not included
'KL8' production batch 8 included
'KL9' production batch 1 included
'KL9' production batch 2 included
'KL9' production batch 3 included
'KL9' production batch 4 included
Warning: 'KL9' , production batch 5 is not included
Warning: 'KL9' , production batch 6 is not included
Warning: 'KL9' , production batch 7 is not included
'KL9' production batch 8 included
'KL10' production batch 1 included
'KL10' production batch 2 included
'KL10' production batch 3 included
'KL10' production batch 4 included
Warning: 'KL10' , production batch 5 is not included
Warning: 'KL10' , production batch 6 is not included
Warning: 'KL10' , production batch 7 is not included
Warning: 'KL10' , production batch 8 is not included
'KL11' production batch 1 included
'KL11' production batch 2 included
'KL11' production batch 3 included
Warning: 'KL11' , production batch 4 is not included
'KL11' production batch 5 included
Warning: 'KL11' , production batch 6 is not included
Warning: 'KL11' , production batch 7 is not included
'KL11' production batch 8 included
'KL12' production batch 1 included
'KL12' production batch 2 included
'KL12' production batch 3 included
'KL12' production batch 4 included
'KL12' production batch 5 included
Warning: 'KL12' , production batch 6 is not included
Warning: 'KL12' , production batch 7 is not included
Warning: 'KL12' , production batch 8 is not included
'KL13' production batch 1 included
'KL13' production batch 2 included
'KL13' production batch 3 included
'KL13' production batch 4 included
Warning: 'KL13' , production batch 5 is not included
Warning: 'KL13' , production batch 6 is not included
Warning: 'KL13' , production batch 7 is not included
'KL13' production batch 8 included
'KL14' production batch 1 included
'KL14' production batch 2 included
'KL14' production batch 3 included
'KL14' production batch 4 included
'KL14' production batch 5 included
Warning: 'KL14' , production batch 6 is not included
Warning: 'KL14' , production batch 7 is not included
'KL14' production batch 8 included
'KL15' production batch 1 included
'KL15' production batch 2 included
'KL15' production batch 3 included
'KL15' production batch 4 included
Warning: 'KL15' , production batch 5 is not included
Warning: 'KL15' , production batch 6 is not included
Warning: 'KL15' , production batch 7 is not included
'KL15' production batch 8 included
'KL16' production batch 1 included
'KL16' production batch 2 included
'KL16' production batch 3 included
'KL16' production batch 4 included
Warning: 'KL16' , production batch 5 is not included
Warning: 'KL16' , production batch 6 is not included
Warning: 'KL16' , production batch 7 is not included
'KL16' production batch 8 included
'KL17' production batch 1 included
'KL17' production batch 2 included
'KL17' production batch 3 included
'KL17' production batch 4 included
Warning: 'KL17' , production batch 5 is not included
Warning: 'KL17' , production batch 6 is not included
Warning: 'KL17' , production batch 7 is not included
'KL17' production batch 8 included
'KL18' production batch 1 included
'KL18' production batch 2 included
'KL18' production batch 3 included
'KL18' production batch 4 included
'KL18' production batch 5 included
Warning: 'KL18' , production batch 6 is not included
Warning: 'KL18' , production batch 7 is not included
'KL18' production batch 8 included
'KL19' production batch 1 included
'KL19' production batch 2 included
'KL19' production batch 3 included
'KL19' production batch 4 included
Warning: 'KL19' , production batch 5 is not included
Warning: 'KL19' , production batch 6 is not included
Warning: 'KL19' , production batch 7 is not included
'KL19' production batch 8 included
'KL20' production batch 1 included
'KL20' production batch 2 included
'KL20' production batch 3 included
Warning: 'KL20' , production batch 4 is not included
Warning: 'KL20' , production batch 5 is not included
Warning: 'KL20' , production batch 6 is not included
Warning: 'KL20' , production batch 7 is not included
'KL20' production batch 8 included

In [12]:
df.head()

,Barcode,Production Batch,Recipe and P,Timestamp,Date,Seq Code,Week,Team Leader,Replenisher,Pickers,Break Reasons,Missing Products,Kitting Line,Timestamp and Date
35,Production Start,NaN,NaN,08:31:10,2021-03-11,NaN,NaN,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,NaN,NaN,KL1,2021-03-11 08:31:10
36,New Recipe Start,NaN,NaN,08:31:20,2021-03-11,NaN,NaN,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,NaN,NaN,KL1,2021-03-11 08:31:20
37,911O2$$$$$$$$0001000501,9.0,O2,08:32:15,2021-03-11,0001 of 0005,11.0,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,NaN,NaN,KL1,2021-03-11 08:32:15
38,911O2$$$$$$$$0002000501,9.0,O2,08:36:40,2021-03-11,0002 of 0005,11.0,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,NaN,NaN,KL1,2021-03-11 08:36:40
39,Break Start,NaN,NaN,08:39:15,2021-03-11,NaN,NaN,iXUsr_Tutai(7335),iXUsr_McAteer(8866),iXUsr_Moran(10217)iXUsr_Evangelista(10312)iXUs...,move to other line,NaN,KL1,2021-03-11 08:39:15

In [13]:
df.to_csv(r'C:\Users\Peiran Quan\Desktop\python_data_preparation\staged.csv',index=False)