In [1]:
import pandas as pd
import datetime as dt


# read file into data frame
data = {}
with pd.ExcelFile(r'C:\Users\Peiran Quan\Desktop\python_data_preparation\raw.xlsx') as xlsx: #Change the file path here
    data['KL1'] = pd.read_excel(xlsx,'Kit line 1',index_col = None,na_values='NA')
    data['KL2'] = pd.read_excel(xlsx,'Kit line 2',index_col = None,na_values='NA')#, skiprows=1)
    data['KL3'] = pd.read_excel(xlsx,'Kit line 3',index_col = None,na_values='NA')
    data['KL4'] = pd.read_excel(xlsx,'Kit line 4',index_col = None,na_values='NA')
    data['KL5'] = pd.read_excel(xlsx,'Kit line 5',index_col = None,na_values='NA')
    data['KL6'] = pd.read_excel(xlsx,'Kit line 6',index_col = None,na_values='NA')
    data['KL7'] = pd.read_excel(xlsx,'Kit line 7',index_col = None,na_values='NA')
    data['KL8'] = pd.read_excel(xlsx,'Kit line 8',index_col = None,na_values='NA')
    data['KL9'] = pd.read_excel(xlsx,'Kit line 9',index_col = None,na_values='NA')
    data['KL10'] = pd.read_excel(xlsx,'Kit line 10',index_col = None,na_values='NA')
    data['KL11'] = pd.read_excel(xlsx,'Kit line 11',index_col = None,na_values='NA')
    data['KL12'] = pd.read_excel(xlsx,'Kit line 12',index_col = None,na_values='NA')
    data['KL13'] = pd.read_excel(xlsx,'Kit line 13',index_col = None,na_values='NA')
    data['KL14'] = pd.read_excel(xlsx,'Kit line 14',index_col = None,na_values='NA')
    data['KL15'] = pd.read_excel(xlsx,'Kit line 15',index_col = None,na_values='NA')
    data['KL16'] = pd.read_excel(xlsx,'Kit line 16',index_col = None,na_values='NA')
    data['KL17'] = pd.read_excel(xlsx,'Kit line 17',index_col = None,na_values='NA')
    data['KL18'] = pd.read_excel(xlsx,'Kit line 18',index_col = None,na_values='NA')
    data['KL19'] = pd.read_excel(xlsx,'Kit line 19',index_col = None,na_values='NA')
    data['KL20'] = pd.read_excel(xlsx,'Kit line 20',index_col = None,na_values='NA')

# Join all kitting lines' data to one
df = pd.DataFrame(data=None)   # df is the frame containing all raw data
for KL in data:
    sLength = len(data[KL])
    KL_array = [KL for i in range(sLength)]
    data[KL]['kittingline'] = KL_array               #Meanwhile add a new column with the kitting line's name
    df = pd.concat([df,data[KL]], sort = False)

In [2]:
# rename all the column index
df.columns = ['Barcode', 'Production Batch', 'Recipe and P', 'Timestamp', 'Date', 'Seq Code', 'Week', 'Team Leader', 'Replenisher', 'Pickers', 'Break Reasons', 'Missing Products', 'Kitting Line']

In [3]:
df.head(10)

,Barcode,Production Batch,Recipe and P,Timestamp,Date,Seq Code,Week,Team Leader,Replenisher,Pickers,Break Reasons,Missing Products,Kitting Line
0,Production Start,NaN,NaN,15:29:51,2020-05-20,NaN,NaN,iXUsr_Thumlert(8509),Dummy;,Dummy;Dummy;,NaN,NaN,KL1
1,New Recipe Start,NaN,NaN,15:35:26,2020-05-20,NaN,NaN,iXUsr_Thumlert(8509),Dummy;,Dummy;Dummy;,NaN,NaN,KL1
2,122F4$$$$$$$$0001002601,1.0,F4,15:35:40,2020-05-20,0001 of 0026,22,iXUsr_Thumlert(8509),Dummy;,Dummy;Dummy;,NaN,NaN,KL1
3,122F4$$$$$$$$0002002601,1.0,F4,15:41:09,2020-05-20,0002 of 0026,22,iXUsr_Thumlert(8509),Dummy;,Dummy;Dummy;,NaN,NaN,KL1
4,122F4$$$$$$$$0003002601,1.0,F4,15:46:11,2020-05-20,0003 of 0026,22,iXUsr_Thumlert(8509),Dummy;,Dummy;Dummy;,NaN,NaN,KL1
5,122F4$$$$$$$$0004002601,1.0,F4,15:51:38,2020-05-20,0004 of 0026,22,iXUsr_Thumlert(8509),Dummy;,Dummy;Dummy;,NaN,NaN,KL1
6,122F4$$$$$$$$0005002601,1.0,F4,15:58:04,2020-05-20,0005 of 0026,22,iXUsr_Thumlert(8509),Dummy;,Dummy;Dummy;,NaN,NaN,KL1
7,122F4$$$$$$$$0006002601,1.0,F4,16:03:28,2020-05-20,0006 of 0026,22,iXUsr_Thumlert(8509),Dummy;,Dummy;Dummy;,NaN,NaN,KL1
8,122F4$$$$$$$$0007002601,1.0,F4,16:09:25,2020-05-20,0007 of 0026,22,iXUsr_Thumlert(8509),Dummy;,Dummy;Dummy;,NaN,NaN,KL1
9,122F4$$$$$$$$0008002601,1.0,F4,16:20:59,2020-05-20,0008 of 0026,22,iXUsr_Thumlert(8509),Dummy;,Dummy;Dummy;,NaN,NaN,KL1

In [4]:
# type(df['Timestamp'].iloc[1]) == dt.time
type(df['Date'].iloc[0]) not in [pd._libs.tslibs.timestamps.Timestamp, 1]

False

In [5]:
# Check timestamps & date whether have the right format
def check_data_type(dataframe, col):
    for i in range(len(dataframe)):
        if type(dataframe[col].iloc[i]) not in [dt.time, pd._libs.tslibs.timestamps.Timestamp] :
            print("check the {}th data".format(i))
        else:
            pass

In [6]:
check_data_type(df, 'Timestamp')
check_data_type(df, 'Date')

In [7]:
def combine_date_time(df, datecol, timecol):
    return df.apply(lambda row: row[datecol].replace(
                                hour=row[timecol].hour,
                                minute=row[timecol].minute,
                                second=row[timecol].second),
                    axis=1)

In [8]:
new_c = combine_date_time(df, 'Date', 'Timestamp')
new_c

0     2020-05-20 15:29:51
1     2020-05-20 15:35:26
2     2020-05-20 15:35:40
3     2020-05-20 15:41:09
4     2020-05-20 15:46:11
              ...
424   2020-05-25 08:27:22
425   2020-05-25 08:33:18
426   2020-05-25 08:38:29
427   2020-05-25 08:40:58
428   2020-05-25 08:41:26
Length: 9876, dtype: datetime64[ns]

In [9]:
df['Timestamp and Date'] = new_c

In [10]:
df = df.drop_duplicates(subset = None, keep='last') # kept 'last record' for a reason

In [11]:
for KL in data:
    df_new = df.loc[df['Kitting Line'] == KL] # df_new is the sliced raw data of "Kitting Line(KL) Name"
    # 1.(after dropping duplicates) for every kitting line it has to contain batch code [1:5]
    i = pd.Categorical(df_new['Production Batch'])
    for j in range (1,6):
        if j not in i.categories:
            print("Warning: %r , production batch %s is not included" %(KL,j))
        else:
            print("%r production batch %s included" %(KL,j))

'KL1' production batch 1 included
'KL1' production batch 2 included
'KL1' production batch 3 included
'KL1' production batch 4 included
'KL1' production batch 5 included
'KL2' production batch 1 included
'KL2' production batch 2 included
'KL2' production batch 3 included
'KL2' production batch 4 included
'KL2' production batch 5 included
'KL3' production batch 1 included
'KL3' production batch 2 included
'KL3' production batch 3 included
'KL3' production batch 4 included
'KL3' production batch 5 included
'KL4' production batch 1 included
'KL4' production batch 2 included
'KL4' production batch 3 included
'KL4' production batch 4 included
'KL4' production batch 5 included
'KL5' production batch 1 included
'KL5' production batch 2 included
'KL5' production batch 3 included
'KL5' production batch 4 included
'KL5' production batch 5 included
'KL6' production batch 1 included
'KL6' production batch 2 included
'KL6' production batch 3 included
'KL6' production batch 4 included
'KL6' production batch 5 included
'KL7' production batch 1 included
'KL7' production batch 2 included
'KL7' production batch 3 included
'KL7' production batch 4 included
'KL7' production batch 5 included
'KL8' production batch 1 included
'KL8' production batch 2 included
'KL8' production batch 3 included
'KL8' production batch 4 included
'KL8' production batch 5 included
'KL9' production batch 1 included
'KL9' production batch 2 included
'KL9' production batch 3 included
'KL9' production batch 4 included
'KL9' production batch 5 included
'KL10' production batch 1 included
'KL10' production batch 2 included
'KL10' production batch 3 included
'KL10' production batch 4 included
'KL10' production batch 5 included
'KL11' production batch 1 included
'KL11' production batch 2 included
'KL11' production batch 3 included
'KL11' production batch 4 included
'KL11' production batch 5 included
'KL12' production batch 1 included
'KL12' production batch 2 included
'KL12' production batch 3 included
'KL12' production batch 4 included
'KL12' production batch 5 included
'KL13' production batch 1 included
'KL13' production batch 2 included
'KL13' production batch 3 included
'KL13' production batch 4 included
'KL13' production batch 5 included
'KL14' production batch 1 included
'KL14' production batch 2 included
'KL14' production batch 3 included
'KL14' production batch 4 included
'KL14' production batch 5 included
'KL15' production batch 1 included
'KL15' production batch 2 included
'KL15' production batch 3 included
'KL15' production batch 4 included
'KL15' production batch 5 included
'KL16' production batch 1 included
'KL16' production batch 2 included
'KL16' production batch 3 included
'KL16' production batch 4 included
'KL16' production batch 5 included
Warning: 'KL17' , production batch 1 is not included
'KL17' production batch 2 included
'KL17' production batch 3 included
'KL17' production batch 4 included
'KL17' production batch 5 included
'KL18' production batch 1 included
'KL18' production batch 2 included
'KL18' production batch 3 included
'KL18' production batch 4 included
'KL18' production batch 5 included
'KL19' production batch 1 included
'KL19' production batch 2 included
'KL19' production batch 3 included
'KL19' production batch 4 included
'KL19' production batch 5 included
'KL20' production batch 1 included
'KL20' production batch 2 included
'KL20' production batch 3 included
'KL20' production batch 4 included
'KL20' production batch 5 included

In [12]:
df.to_csv(r'C:\Users\Peiran Quan\Desktop\python_data_preparation\staged.csv',index=False)