In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

In [2]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three', 'three', 'one'], 'B': range(6)})
df

       A  B
0    one  0
1    one  1
2    two  2
3  three  3
4  three  4
5    one  5

In [3]:
df.groupby('A').apply(print)

A  B
0  one  0
1  one  1
5  one  5
       A  B
3  three  3
4  three  4
     A  B
2  two  2

Empty DataFrame
Columns: []
Index: []

In [2]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [3]:
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [4]:
df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [6]:
df1.merge(df2, left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

In [5]:
df1.merge(df2, how = 'inner', on = "value")

  lkey  value rkey
0  foo      5  foo

In [8]:
df1.merge(df2, how = 'left', on = "value")

  lkey  value rkey
0  foo      1  NaN
1  bar      2  NaN
2  baz      3  NaN
3  foo      5  foo

In [12]:
df1.merge(df2, how = 'outer')

  lkey  value rkey
0  foo      1  NaN
1  bar      2  NaN
2  baz      3  NaN
3  foo      5  foo
4  NaN      6  bar
5  NaN      7  baz
6  NaN      8  foo