In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

In [3]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three', 'three', 'one'], 'B': range(6)})
df

       A  B
0    one  0
1    one  1
2    two  2
3  three  3
4  three  4
5    one  5

In [4]:
df.groupby('A').apply(print)

A  B
0  one  0
1  one  1
5  one  5
       A  B
3  three  3
4  three  4
     A  B
2  two  2

Empty DataFrame
Columns: []
Index: []